//@font-face {
//  font-family: 'LifeCraft';
//  src: url('/fonts/LifeCraft_Font.ttf'),
//  url('/fonts/LifeCraft_Font.eot'); /* IE */
//}

.block {
  display: block;
}

.btn-default:not(.active):focus {
  background-color: white !important;
}

.btn-default:focus {
  outline: none !important;
}

.btn-settings {
  padding: 0;
  //background-color: #eeeeee;
;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  overflow-y: scroll;
}

.navbar-center {
  position: absolute;
  width: 100%;
  text-align: center;
}

.icon-table {
  height: 20px;
  width: 20px;

  svg {
    fill: blue;
  }
}
