.block {
  display: block;
}

body {
  margin-bottom: 60px;
}

.btn-default, .btn-default:focus {
  background-color: #EEE;
}

.btn-default:focus {
  outline: none !important;
}

.btn-settings {
  padding: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.flex-center {
  align-items: center;
  display: flex;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}

.navbar-center {
  position: absolute;
  width: 100%;
  text-align: center;
}

.icon-table {
  height: 20px;
  width: 20px;

  svg {
    fill: blue;
  }
}

/* OVERRIDES */

.modal-content {
  overflow: hidden;
}
