.footer {

  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;

  .contact {
    align-items: center;
    display: flex;
    float: right;
    font-size: 12px;
    justify-content: center;
    padding-right: 5px;
    padding-top: 5px;

    a {
      padding-top: 3px;
    }

    i {
      padding-left: 5px;
      color: #5094ce;
    }
  }

}
