<div class="pet-details" style="">
  <div class="pet-details-header-{{vm.pet.theme}} clearfix">
    <div class="row">
      <div class="col-xs-1">
        <img class="pet-details-icon" data-ng-src="{{vm.urls.battleIcons + vm.pet.icon}}.jpg">
      </div>
      <div class="col-xs-11">
        <h3 class="modal-title">
          <span data-ng-bind="vm.pet.creatureName"></span>
          <span data-ng-if="vm.pet.creatureName !== vm.pet.name">- "{{vm.pet.name}}"</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="modal-body pet-details-body-{{vm.pet.theme}}" style="">

    <div class="row">
      <div class="col-xs-12">
        <q><strong><i>{{vm.species.description}}</i></strong></q>
      </div>
      <div class="col-xs-12" style="margin-top:15px;">
        <div data-ng-repeat="source in vm.source track by $index">

          <div data-ng-if="source.length" data-ng-bind-html="source"></div>
          <br data-ng-if="!source.length">
        </div>
      </div>

      <!--<div class="family-{{vm.pet.family}}">-->
      <!--<pre>{{vm.pet | json}}</pre>-->
      <!--<pre>{{vm.species | json}}</pre>-->
      <!--</div>-->
    </div>
  </div>
  <div class=" pet-details-footer-{{vm.pet.theme}}">
    <a data-ng-if="vm.pet.store" href="{{vm.urls.wowPetStore + vm.pet.store}}" class="btn btn-default btn-view"
       title="view on battle.net" target="_blank">
      <img src="images/battlenet.png">
    </a>
    <a data-ng-if="vm.pet.tcg" href="{{vm.urls.tcgLoot + vm.pet.tcg}}.htm" class="btn btn-default btn-view"
       title="view on wowtcgloot.com" target="_blank">
      <img src="images/UI-GoldIcon.png">
    </a>
    <a href="{{vm.urls.wowHeadNpc + vm.pet.creatureId}}" class="btn btn-default btn-view" title="view on wowhead.com"
       target="_blank">
      <img src="images/wowheadicon.png">
    </a>

    <button class="btn btn-danger" type="button" data-ng-click="vm.close()">close</button>
  </div>
  <img class="pet-details-family" data-ng-src="images/Pet_type_{{vm.pet.family}}.png">
</div>

