<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-3"
       dir-paginate="pet in vm.pets | itemsPerPage: vm.pageSize | orderBy:'creatureName'">
    <div class="pet-favorite" data-ng-if="pet.isFavorite" data-ng-include="'images/favorite.svg'"></div>
    <div class="clearfix" data-ng-class="vm.getPetTile(pet)">
      <div class="row">
        <div class="text-center pet-tile-header">
          <span data-ng-show="pet.collected" title="{{pet.creatureName}}">{{pet.creatureName}}</span>
          <span data-ng-hide="pet.collected" title="{{pet.name}}">{{pet.name}}</span>
        </div>
      </div>
      <div class="col-sm-3 pet-tile-body text-center">
        <a href="http://www.wowhead.com/npc={{pet.creatureId}}" target="_blank" title="view on wowhead.com">
          <img class="pet-icon pet-icon-{{pet.theme}}" data-ng-src="http://wow.zamimg.com/images/wow/icons/medium/{{pet.icon}}.jpg">
        </a>
      </div>
      <div class="col-sm-9 pet-tile-body">
        <div class="col-sm-5">
          <div><span class="health-icon"></span>{{pet.stats.health}}</div>
          <div><span class="power-icon"></span>{{pet.stats.power}}</div>
          <div><span class="speed-icon"></span>{{pet.stats.speed}}</div>
        </div>
        <div class="col-sm-7 text-center">
          <h1 class="text-{{pet.theme}}">{{pet.stats.level}}</h1>
          <div data-ng-if="pet.species.family==='dragonkin'" class="pet-family pet-family-dragonkin" data-ng-include="'images/Pet_type_dragonkin.svg'"></div>
          <div data-ng-if="pet.species.family==='magical'" class="pet-family pet-family-magical" data-ng-include="'images/Pet_type_magical.svg'"></div>
          <div data-ng-if="pet.species.family==='water'" class="pet-family pet-family-water" data-ng-include="'images/Pet_type_water.svg'"></div>
          <div data-ng-if="pet.species.family==='flying'" class="pet-family pet-family-flying" data-ng-include="'images/Pet_type_flying.svg'"></div>
          <div data-ng-if="pet.species.family==='mechanical'" class="pet-family pet-family-mechanical" data-ng-include="'images/Pet_type_mechanical.svg'"></div>
          <div data-ng-if="pet.species.family==='undead'" class="pet-family pet-family-undead" data-ng-include="'images/Pet_type_undead.svg'"></div>
          <div data-ng-if="pet.species.family==='beast'" class="pet-family pet-family-beast" data-ng-include="'images/Pet_type_beast.svg'"></div>
          <div data-ng-if="pet.species.family==='critter'" class="pet-family pet-family-critter" data-ng-include="'images/Pet_type_critter.svg'"></div>
          <div data-ng-if="pet.species.family==='elemental'" class="pet-family pet-family-elemental" data-ng-include="'images/Pet_type_elemental.svg'"></div>
          <div data-ng-if="pet.species.family==='humanoid'" class="pet-family pet-family-humanoid" data-ng-include="'images/Pet_type_humanoid.svg'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <dir-pagination-controls></dir-pagination-controls>
</div>




