<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-3"
       dir-paginate="pet in vm.pets | itemsPerPage: vm.pageSize | orderBy:'creatureName'">
    <div class="pet-favorite" data-ng-if="pet.isFavorite" data-ng-include="'images/favorite.svg'"></div>
    <div class="clearfix" data-ng-class="vm.getPetTile(pet)">
      <div class="row">
        <div class="text-center pet-tile-header">
          <span data-ng-show="pet.collected" title="{{pet.creatureName}}">{{pet.creatureName}}</span>
          <span data-ng-hide="pet.collected" title="{{pet.name}}">{{pet.name}}</span>
        </div>
      </div>
      <div class="col-sm-3 pet-tile-body text-center">
        <a href="http://www.wowhead.com/npc={{pet.creatureId}}" target="_blank" title="view on wowhead.com">
          <img class="pet-icon pet-icon-{{pet.theme}}" data-ng-src="http://wow.zamimg.com/images/wow/icons/medium/{{pet.icon}}.jpg">
        </a>
      </div>
      <div class="col-sm-9 pet-tile-body">
        <div class="col-sm-5">
          <div><span class="health-icon"></span>{{pet.stats.health}}</div>
          <div><span class="power-icon"></span>{{pet.stats.power}}</div>
          <div><span class="speed-icon"></span>{{pet.stats.speed}}</div>
        </div>
        <div class="col-sm-7 text-center">
          <!--<div data-ng-if="pet.collected + pet.canBattle" class="text-center label label-{{pet.theme}} block">-->
            <!--{{pet.stats.level}}&nbsp;&nbsp;{{vm.breeds[pet.stats.breedId].letters}}-->
          <!--</div>-->
          <h1 class="text-{{pet.theme}}">{{pet.stats.level}}</h1>
          <div class="pet-family pet-family-{{pet.species.family}}">
            <data-ng-include src="pet.familyIcon"></data-ng-include>
          </div>
          <!--<img src="http://wow.zamimg.com/images/pets/types/tiny/magic.png">-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <dir-pagination-controls></dir-pagination-controls>
</div>




