.pets {

  .no-pets {
    border: 1px dashed grey;
    border-radius: 3px;
    padding: 20px;
    margin-top: 20px;
  }

  /* PET BATTLE SECTION */

  .battle-icon-health {
    background: url(http://wow.zamimg.com/images/BattlePetStatCalc/stat-health.png) left 0 no-repeat;
    padding-left: 19px;
  }

  .battle-icon-power {
    background: url(http://wow.zamimg.com/images/BattlePetStatCalc/stat-power.png) left 0 no-repeat;
    padding-left: 19px;
  }

  .battle-icon-speed {
    background: url(http://wow.zamimg.com/images/BattlePetStatCalc/stat-speed.png) left 0 no-repeat;
    padding-left: 19px;
  }

  /* FAMILY SECTION */

  .family {
    height: 170px;
    position: absolute;
    right: -20px;
    top: -40px;
    width: 170px;
    opacity: 0.15;
    z-index: -1;
  }

  .family-dragonkin {
    @extend .family;
    fill: $brand-success;
  }

  .family-magical {
    @extend .family;
    fill: #6a37ff;
  }

  .family-water {
    @extend .family;
    fill: $brand-primary;
  }

  .family-flying {
    @extend .family;
    fill: #867218;
  }

  .family-mechanical {
    @extend .family;
    fill: #4e4e4e;
  }

  .family-undead {
    @extend .family;
    fill: #8e666a;
  }

  .family-beast {
    @extend .family;
    fill: $brand-danger;
  }

  .family-critter {
    @extend .family;
    fill: #8e666a;
  }

  .family-elemental {
    @extend .family;
    fill: $brand-danger;
  }

  .family-humanoid {
    @extend .family;
    fill: $brand-primary;
  }

  /* FILTER SECTION */

  .clear-search-container {
    position: absolute;
    top: 26px;
    left: 171px;
    cursor: pointer;
    width: 20px;
    height: 30px;

    a {
      font-weight: bold;
      font-size: 18px;
      color: rgba(51, 122, 183, 0.5);
      text-decoration: none;
    }
  }

  .filter-container {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .filter-container-collected {
    margin-left: 10px;

    button {
      width: 75px;
    }
  }

  /*

  .filter-container-count {
    margin-left: 10px;

    .count-left {
      width: 50px;
    }

    .count-right {
      background-color: white;
      border-style: dashed;
    }

    label {
      border-style: dashed;
      text-align: center;
      width: 50px;
    }
  }
  */

  .filter-container-level {
    margin-left: 10px;

    button {
      width: 50px;
    }
  }

  .filter-container-quality {
    margin-left: 10px;

    button {
      width: 50px;
    }
  }

  .filter-container-reset {
    margin-left: 10px;

    label {
      border-style: dashed;
      text-align: center;
      width: 50px;
    }
  }

  .filter-container-settings {
    border: 1px dashed #777777;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
  }

  .filter-container-sort {
    margin-left: 10px;

    a {
      cursor: pointer;
    }
  }

  .filter-container-tiles {
    margin-left: 10px;

    img {
      height: 20px;
      width: 20px;
    }
    .count-input {
      text-align: center;
      width: 50px;
    }
  }

  .filter-help {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid black;
    border-radius: 6px;
    height: 200px;
    left: 38%;
    padding: 19px;
    position: absolute;
    top: 17%;
    width: 400px;
    z-index: 100;
  }

  //.pet-favorite {
  //  position: absolute;
  //  top: 10px;
  //  left: 5px;
  //
  //  svg {
  //    height: 25px;
  //    width: 25px;
  //    fill: yellow;
  //  }
  //
  //  polygon, path {
  //    stroke: black;
  //    stroke-width: 28px;
  //  }
  //}

  .filter-input {
    height: 35px;
  }

  .filter-label {
    border: 1px dashed rgba(119, 119, 119, 0.25);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    font-size: 12px;

    i {
      margin-left: 5px;
      padding-bottom: 3px;
    }
  }

  .filter-label-center {
    @extend .filter-label;
    justify-content: center;
    align-items: center;
  }

  .filter-label-left {
    @extend .filter-label;
    justify-content: left;
    align-items: center;
  }

  /* ICON SECTION */

  .icon {
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
    padding: 2px;
    width: 60px;
  }

  .icon-primary {
    @extend .icon;
    background-color: lighten($brand-primary, 10%);
  }

  .icon-success {
    @extend .icon;
    background-color: lighten($brand-success, 10%);
  }

  .icon-default {
    @extend .icon;
    background-color: $gray-dark;
  }

  /* LEVEL SECTION */

  .level-container {
    margin-top: 5px;
  }

  .level-label {
    border-bottom: 1px solid #b3b3b3;
  }

  .level-number {
    font-size: 20px;
  }

  /* TILE SECTION */

  .tile {
    border-radius: 4px;
    box-shadow: 7px 7px 15px 0 lighten(black, 50%);
    margin-top: 20px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    .tile-body {
      padding-top: 10px;
      padding-bottom: 10px;

      img:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .tile-border-dashed {
    border-width: 2px;
    border-style: dashed;

    .tile-footer {
      border-top-width: 1px;
      border-top-style: dashed;
      font-weight: bold;
      height: 21px;
    }

    .tile-header {
      border-bottom-width: 2px;
      border-bottom-style: dashed;
    }
  }

  .tile-border-solid {
    border-width: 2px;
    border-style: solid;

    .tile-footer {
      border-top-width: 1px;
      border-top-style: solid;
      font-weight: bold;
      height: 21px;
    }

    .tile-header {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      font-weight: bold;
    }
  }

  .tile-default {
    @extend .tile;
    border-color: $gray-light;

    .tile-footer {
      border-top-color: $gray-dark;
      color: lighten($gray-dark, 10%);
    }

    .tile-header {
      border-bottom-color: $gray-dark;
      background-color: $gray-light;
      color: white;
    }
  }

  .tile-default-dashed {
    @extend .tile;
    border-color: $gray-light;

    .tile-footer {
      border-top-color: $gray-light;
      color: lighten($gray-light, 10%);
    }

    .tile-header {
      border-bottom-color: $gray-light;
      color: $gray-light;
    }
  }

  .tile-details {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .tile-details:hover {
    box-shadow: 2px 2px 15px 0 rgba(112, 122, 133, 1);
    transition: all 0.2s ease-in-out;
  }

  .tile-primary {
    @extend .tile;
    border-color: lighten($brand-primary, 10%);

    .tile-footer {
      border-top-color: $brand-primary;
      color: lighten($brand-primary, 10%);
    }

    .tile-header {
      border-bottom-color: $brand-primary;
      background-color: lighten($brand-primary, 10%);
      color: white;
    }
  }

  .tile-success {
    @extend .tile;
    border-color: lighten($brand-success, 10%);

    .tile-footer {
      border-top-color: $brand-success;
      color: lighten($brand-success, 10%);
    }

    .tile-header {
      border-bottom-color: $brand-success;
      background-color: lighten($brand-success, 10%);
      color: white;
    }
  }

  /* TOOLTIPS */

  .tooltip-base {
    border-radius: 3px;
    font-size: 11px;
    text-align: center;
  }

  .tooltip-collecting {
    @extend .tooltip-base;
    width: 400px;
  }

  .tooltip-levels {
    @extend .tooltip-base;
    width: 400px;
  }

  .tooltip-page-size {
    @extend .tooltip-base;
    width: 250px;
  }

  .tooltip-quality {
    @extend .tooltip-base;
    width: 350px;

    .common {
      color: #777777;
    }

    .rare {
      color: #5094ce;
    }

    .uncommon {
      color: #80c780;
    }
  }

  .tooltip-sort {
    @extend .tooltip-base;
    width: 500px;
  }

  /* OVERRIDES */

  .popover {
    max-width: 600px;
  }
}
