.pets {

  /* SMALL RESOLUTION */
  @media (min-width: $screen-sm-min) {
    .filter-container-collected button {
      width: inherit;
    }
    .filter-search {
      width: 189px;
    }
    .level-number {
      font-size: 15px;
    }
    .special-icon {
      display: none;
    }
  }

  /* MEDIUM RESOLUTION */
  @media (min-width: $screen-md-min) {
    .filter-container-collected button {
      width: 75px;
    }
    .filter-search {
      width: 282px;
    }
    .level-number {
      font-size: 15px;
    }
    .special-icon {
      display: none;
    }
  }

  /* LARGE RESOLUTION */
  @media (min-width: $screen-lg-min) {
    .filter-search {
      width: 349px;
    }
    .level-number {
      font-size: 20px;
    }
    .special-icon {
      visibility: visible;
    }
  }

  .filter-row {
    margin-top: 10px;
  }

  .no-pets {
    border: 1px dashed grey;
    border-radius: 3px;
    padding: 20px;
    margin-top: 20px;
  }

  /* PET BATTLE SECTION */

  .battle-icon {
    height: 18px;
    width: 18px;
  }

  /* FAMILY SECTION */

  .family {
    height: 50px;
    position: absolute;
    right: 110px;
    top: -70px;
    width: 50px;
    opacity: 0.15;
    z-index: -1;
  }

  /* FILTER SECTION */

  .clear-search-container {
    position: absolute;
    top: 8px;
    left: 338px;
    cursor: pointer;
    width: 20px;
    height: 30px;

    a {
      font-weight: bold;
      font-size: 18px;
      color: rgba(51, 122, 183, 0.5);
      text-decoration: none;
    }
  }

  .filter-container {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .filter-container-collected {
    margin-left: 10px;
  }

  .filter-container-count {
    margin-left: 10px;
  }

  .filter-container-family {
    margin-left: 10px;
  }

  .filter-container-level {

    button {
      width: 50px;
    }
  }

  .filter-container-quality {
    margin-left: 10px;

    button {

      width: 50px;
    }
  }

  .filter-container-reset {
    margin-left: 10px;

    label {
      border-style: dashed;
      text-align: center;
      width: 50px;
    }
  }

  .filter-container-special {
    margin-left: 10px;
  }

  .filter-container-sort {
    margin-left: 10px;

    a {
      cursor: pointer;
    }
  }

  .filter-container-tiles {
    margin-left: 10px;

    img {
      height: 20px;
      width: 20px;
    }
    .count-input {
      text-align: center;
      width: 50px;
    }
  }

  .filter-help {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid black;
    border-radius: 6px;
    height: 200px;
    left: 38%;
    padding: 19px;
    position: absolute;
    top: 17%;
    width: 400px;
    z-index: 100;
  }

  .filter-input {
    height: 35px;
  }

  .filter-label {
    //border: 1px dashed rgba(119, 119, 119, 0.25);
    //border-top-left-radius: 5px;
    //border-top-right-radius: 5px;
    display: flex;
    font-size: 11px;

    i {
      margin-left: 5px;
      padding-bottom: 3px;
    }
  }

  .filter-label-center {
    @extend .filter-label;
    justify-content: center;
    align-items: center;
  }

  .filter-label-left {
    @extend .filter-label;
    justify-content: left;
    align-items: center;
  }

  .filter-pet-count {
    border: 1px dashed #cccccc;
    border-radius: 3px;
    padding: 6px 12px;
    width: 55px;
  }

  .special-buy {
    vertical-align: middle;
    padding-bottom: 4px;
  }

  /* ICON SECTION */

  .icon {
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    margin-top: 5px;
    padding: 2px;
    width: 50px;
  }

  .icon-primary {
    @extend .icon;
    background-color: $brand-primary;
  }

  .icon-success {
    @extend .icon;
    background-color: $brand-success;
  }

  .icon-default {
    @extend .icon;
    background-color: $gray-dark;
  }

  /* LEVEL SECTION */

  .level-container {
    margin-top: 5px;
  }

  .level-label {
    border-bottom: 1px solid #b3b3b3;
  }

  /* TILE SECTION */

  .tile {
    border-radius: 4px;
    box-shadow: 7px 7px 15px 0 lighten(black, 50%);
    margin-top: 20px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    .tile-body {
      padding-top: 5px;
      padding-bottom: 5px;

    }
    .tile-body-left {
      img:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .tile-border-dashed {
    border-width: 2px;
    border-style: dashed;

    .tile-footer {
      border-top-width: 1px;
      border-top-style: dashed;
      font-weight: bold;
      height: 21px;
    }

    .tile-header {
      border-bottom-width: 2px;
      border-bottom-style: dashed;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .tile-border-solid {
    border-width: 2px;
    border-style: solid;

    .tile-footer {
      border-top-width: 1px;
      border-top-style: solid;
      font-weight: bold;
      height: 21px;
    }

    .tile-header {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .tile-default {
    @extend .tile;
    border-color: $gray-light;

    .tile-footer {
      border-top-color: $gray-dark;
      color: $gray-dark;
    }

    .tile-header {
      border-bottom-color: $gray-dark;
      background-color: $gray-light;
      color: white;
    }
  }

  .tile-default-dashed {
    @extend .tile;
    border-color: $gray-light;

    .tile-footer {
      border-top-color: $gray-light;
      color: $gray-light;
    }

    .tile-header {
      border-bottom-color: $gray-light;
      color: $gray-light;
    }
  }

  .tile-details {
    transition: all 0.4s ease-in-out;
  }

  .tile-details:hover {
    box-shadow: 2px 2px 15px 0 rgba(112, 122, 133, 1);
    transition: all 0.2s ease-in-out;
  }

  .tile-primary {
    @extend .tile;
    border-color: $brand-primary;

    .tile-footer {
      border-top-color: $brand-primary;
      color: $brand-primary;
    }

    .tile-header {
      border-bottom-color: $brand-primary;
      background-color: $brand-primary;
      color: white;
    }
  }

  .tile-success {
    @extend .tile;
    border-color: $brand-success;

    .tile-footer {
      border-top-color: $brand-success;
      color: $brand-success;
    }

    .tile-header {
      border-bottom-color: $brand-success;
      background-color: $brand-success;
      color: white;
    }
  }

  /* TOOLTIPS */

  .tooltip-base {
    border-radius: 3px;
    font-size: 11px;
    text-align: center;
  }

  .tooltip-collecting {
    @extend .tooltip-base;
    width: 400px;
  }

  .tooltip-count {
    @extend .tooltip-base;
    width: 250px;
  }

  .tooltip-family {
    @extend .tooltip-base;
    width: 200px;
  }

  .tooltip-levels {
    @extend .tooltip-base;
    width: 400px;
  }

  .tooltip-page-size {
    @extend .tooltip-base;
    width: 250px;
  }

  .tooltip-quality {
    @extend .tooltip-base;
    width: 350px;

    .common {
      color: #777777;
    }
    .rare {
      color: #5094ce;
    }
    .uncommon {
      color: #80c780;
    }
  }

  .tooltip-sort {
    @extend .tooltip-base;
    width: 500px;
  }

  .tooltip-special {
    @extend .tooltip-base;
    width: 350px;
  }

  /* OVERRIDES */

  .popover {
    max-width: 600px;
  }
}
