.pets {

  /* PET BATTLE SECTION */

  .battle-icon-health {
    background: url(http://wow.zamimg.com/images/BattlePetStatCalc/stat-health.png) left 0 no-repeat;
    padding-left: 19px;
  }

  .battle-icon-power {
    background: url(http://wow.zamimg.com/images/BattlePetStatCalc/stat-power.png) left 0 no-repeat;
    padding-left: 19px;
  }

  .battle-icon-speed {
    background: url(http://wow.zamimg.com/images/BattlePetStatCalc/stat-speed.png) left 0 no-repeat;
    padding-left: 19px;
  }

  /* FAMILY SECTION */

  .family {
    height: 170px;
    position: absolute;
    right: -20px;
    top: -40px;
    width: 170px;
    opacity: 0.15;
    z-index: -1;
  }

  .family-dragonkin {
    @extend .family;
    fill: $brand-success;
  }

  .family-magical {
    @extend .family;
    fill: #6a37ff;
  }

  .family-water {
    @extend .family;
    fill: $brand-primary;
  }

  .family-flying {
    @extend .family;
    fill: #867218;
  }

  .family-mechanical {
    @extend .family;
    fill: #4e4e4e;
  }

  .family-undead {
    @extend .family;
    fill: #8e666a;
  }

  .family-beast {
    @extend .family;
    fill: $brand-danger;
  }

  .family-critter {
    @extend .family;
    fill: #8e666a;
  }

  .family-elemental {
    @extend .family;
    fill: $brand-danger;
  }

  .family-humanoid {
    @extend .family;
    fill: $brand-primary;
  }

  /* FILTER SECTION */

  .filter-container {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .filter-container-collected {
    margin-left: 10px;

    button {
      width: 80px;
    }
  }

  .filter-container-count {
    float: right;
    margin-right: 10px;

    label {
      border-style: dashed;
      text-align: center;
      width: 50px;
    }
  }

  .filter-container-level {
    margin-left: 10px;

    button {
      width: 50px;
    }
  }

  .filter-container-quality {
    margin-left: 10px;

    button {
      width: 50px;
    }
  }

  .filter-container-settings {
    float: right;

    img {
      height: 32px;
    }
  }

  .filter-container-tiles {
    float: right;
    margin-right: 10px;

    img {
      height: 20px;
      width: 20px;
    }
    .count-input {
      text-align: center;
      width: 50px;
    }
  }

  //.pet-favorite {
  //  position: absolute;
  //  top: 10px;
  //  left: 5px;
  //
  //  svg {
  //    height: 25px;
  //    width: 25px;
  //    fill: yellow;
  //  }
  //
  //  polygon, path {
  //    stroke: black;
  //    stroke-width: 28px;
  //  }
  //}

  /* ICON SECTION */

  .icon {
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
    padding: 2px;
    width: 60px;
  }

  .icon-primary {
    @extend .icon;
    background-color: lighten($brand-primary, 10%);
  }

  .icon-success {
    @extend .icon;
    background-color: lighten($brand-success, 10%);
  }

  .icon-default {
    @extend .icon;
    background-color: $gray-dark;
  }

  /* LEVEL SECTION */

  .level-container {
    margin-top: 5px;
  }

  .level-label {
    border-bottom: 1px solid #b3b3b3;
  }

  .level-number {
    font-size: 20px;
  }

  /* TILE SECTION */

  .tile {
    border-radius: 3px;
    box-shadow: 7px 7px 15px 0 lighten(black, 50%);
    margin-top: 20px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    .tile-body {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .tile-border-dashed {
    border-width: 2px;
    border-style: dashed;

    .tile-header {
      border-bottom-width: 2px;
      border-bottom-style: dashed;
    }
  }

  .tile-border-solid {
    border-width: 2px;
    border-style: solid;

    .tile-header {
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }

  .tile-default {
    @extend .tile;
    border-color: $gray-light;

    .tile-header {
      border-bottom-color: $gray-dark;
      background-color: $gray-light;
      color: white;
    }
  }

  .tile-default-dashed {
    @extend .tile;
    border-color: $gray-light;

    .tile-header {
      border-bottom-color: $gray-light;
      color: $gray-light;
    }
  }

  .tile-primary {
    @extend .tile;
    border-color: lighten($brand-primary, 10%);

    .tile-header {
      border-bottom-color: $brand-primary;
      background-color: lighten($brand-primary, 10%);
      color: white;
    }
  }

  .tile-success {
    @extend .tile;
    border-color: lighten($brand-success, 10%);

    .tile-header {
      border-bottom-color: $brand-success;
      background-color: lighten($brand-success, 10%);
      color: white;
    }
  }

}
