<section class="pets">

  <!-- FILTERS -->
  <form class="form-inline">
    <div class="col-xs-12 filter-container">

      <div class="hidden-lg">

        <!-- NAME -->
        <div class="btn-group">
          <input class="form-control" data-ng-model="vm.search" placeholder="search pet names">
        </div>

      </div>

      <div class="hidden-xs hidden-sm hidden-md">

        <!-- NAME -->
        <div class="btn-group">
          <input class="form-control" data-ng-model="vm.search" placeholder="search pet names" style="height:35px;">
        </div>

        <!-- COLLECTED -->
        <div class="btn-group filter-container-collected">
          <button class="btn btn-default"
                  data-ng-class="{'active': vm.filters.original}"
                  data-ng-click="vm.filterCollected()">Have
          </button>
          <button class="btn btn-default"
                  data-ng-class="{'active': vm.filters.uncollected}"
                  data-ng-click="vm.filterUncollected()">Need
          </button>
          <button class="btn  btn-default"
                  data-ng-class="{'active': vm.filters.duplicate}"
                  data-ng-click="vm.filterDuplicate()">Extras
          </button>
        </div>

        <!-- QUALITY -->
        <div class="btn-group filter-container-quality">
          <button class="btn btn-default"
                  data-ng-class="{'active': vm.filters.qualityId==3}"
                  data-ng-click="vm.filterQuality(3)">R
          </button>
          <button class="btn btn-default"
                  data-ng-class="{'active': vm.filters.qualityId==2}"
                  data-ng-click="vm.filterQuality(2)">U
          </button>
          <button class="btn btn-default"
                  data-ng-class="{'active': vm.filters.qualityId==1}"
                  data-ng-click="vm.filterQuality(1)">C/P
          </button>
        </div>

        <!-- LEVEL -->
        <div class="btn-group filter-container-level">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default" data-ng-click="vm.setLevelMin()">min</button>
            </div>
            <select class="form-control"
                    data-ng-model="vm.levelMin"
                    data-ng-options="level.text for level in vm.levelsMin"
                    data-ng-change="vm.filterPets()">
            </select>
          </div>
          <div class="input-group">
            <select class="form-control"
                    data-ng-model="vm.levelMax"
                    data-ng-options="level.text for level in vm.levelsMax"
                    data-ng-change="vm.filterPets()">
            </select>
            <div class="input-group-btn">
              <button class="btn btn-default" data-ng-click="vm.setLevelMax()">max</button>
            </div>
          </div>
        </div>

        <!--&lt;!&ndash; SETTINGS &ndash;&gt;-->
        <!--<div class="btn-group btn-container-settings">-->
          <!--<button class="btn btn-default btn-settings"-->
                  <!--data-ng-class="{'active':vm.showSettings}"-->
                  <!--data-ng-click="vm.toggleSettings()">-->
            <!--<img src="images/settings-white.svg">-->
          <!--</button>-->
        <!--</div>-->

        <!-- PET COUNT -->
        <div class="input-group filter-container-count">
          <label class="form-control">
            <strong>
              <span class="text-danger" data-ng-bind="vm.pets.length"></span>
            </strong>
          </label>
          <span class="input-group-addon">Pets</span>
        </div>

        <!-- PETS/PAGE -->
        <div class="input-group filter-container-tiles">
          <div class="input-group-btn">
            <button class="btn btn-default" data-ng-click="vm.resetPageSize()">
              <img src="images/table.svg">
            </button>
          </div>
          <input class="form-control count-input" data-ng-model="vm.pageSize" style="height:35px;">
        </div>

      </div>

      <!--&lt;!&ndash; SETTINGS &ndash;&gt;-->
      <!--<div class="col-xs-12 filter-container-settings" data-ng-show="vm.showSettings">-->
      <!--</div>-->

    </div>
  </form>


  <!-- TILES -->
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3"
         data-dir-paginate="pet in vm.pets | itemsPerPage: vm.pageSize track by $index">
      <!-- favorite -->
      <!--<div class="pet-favorite" data-ng-if="pet.isFavorite" data-ng-include="'images/favorite.svg'"></div>-->
      <!-- tile -->
      <!--<div class="clearfix" data-ng-class="vm.getPetTile(pet)">-->
      <div class="clearfix" data-ng-class="vm.getPetTile(pet)">

        <!-- PET NAME -->
        <div class="row">
          <!--<div class="text-center tile-header" title="{{pet.creatureName}}" data-ng-bind="pet.creatureName"></div>-->
          <div class="text-center tile-header" title="{{pet.creatureName}}" data-ng-bind="pet.name"></div>
        </div>

        <!-- PET ICON -->
        <div class="col-sm-3 tile-body text-center">
          <a href="http://www.wowhead.com/npc={{pet.creatureId}}" target="_blank" title="view on wowhead.com">
            <img class="icon-{{pet.theme}}"
                 data-ng-src="https://wow.zamimg.com/images/wow/icons/medium/{{pet.icon}}.jpg">
          </a>
        </div>

        <!-- PET DATA -->
        <div class="col-sm-9 tile-body">

          <!-- STATS -->
          <div class="col-sm-5">
            <div>
              <span class="battle-icon-health"></span>
              <span data-ng-bind="pet.stats.health"></span>
            </div>
            <div>
              <span class="battle-icon-power"></span>
              <span data-ng-bind="pet.stats.power"></span>
            </div>
            <div>
              <span class="battle-icon-speed"></span>
              <span data-ng-bind="pet.stats.speed"></span>
            </div>
          </div>

          <div class="col-sm-7 text-center">
            <!-- LEVEL / BREED -->
            <div class="level-container">
              <div class="level-label">level</div>
              <div class="level-number">
                <strong class="text-{{pet.theme}}" data-ng-bind="pet.stats.level"></strong>
                <span class="text-{{pet.theme}}" data-ng-bind="vm.breeds[pet.stats.breedId].letters"></span>
              </div>
            </div>
            <!-- FAMILY -->
            <div data-ng-if="pet.family==='dragonkin'" class="family-dragonkin"
                 data-ng-include="'images/Pet_type_dragonkin.svg'"></div>
            <div data-ng-if="pet.family==='magical'" class="family-magical"
                 data-ng-include="'images/Pet_type_magical.svg'"></div>
            <div data-ng-if="pet.family==='water'" class="family-water"
                 data-ng-include="'images/Pet_type_water.svg'"></div>
            <div data-ng-if="pet.family==='flying'" class="family-flying"
                 data-ng-include="'images/Pet_type_flying.svg'"></div>
            <div data-ng-if="pet.family==='mechanical'" class="family-mechanical"
                 data-ng-include="'images/Pet_type_mechanical.svg'"></div>
            <div data-ng-if="pet.family==='undead'" class="family-undead"
                 data-ng-include="'images/Pet_type_undead.svg'"></div>
            <div data-ng-if="pet.family==='beast'" class="family-beast"
                 data-ng-include="'images/Pet_type_beast.svg'"></div>
            <div data-ng-if="pet.family==='critter'" class="family-critter"
                 data-ng-include="'images/Pet_type_critter.svg'"></div>
            <div data-ng-if="pet.family==='elemental'" class="family-elemental"
                 data-ng-include="'images/Pet_type_elemental.svg'"></div>
            <div data-ng-if="pet.family==='humanoid'" class="family-humanoid"
                 data-ng-include="'images/Pet_type_humanoid.svg'"></div>
          </div>

        </div>
      </div>
    </div>

    <!-- EMPTY TABLE -->
    <div data-ng-hide="vm.pets.length">
      <div class="col-xs-offset-1 col-xs-10"
           style="border: 1px dashed grey;border-radius:3px;padding:20px;margin-top:20px;">
        <h4 class="text-center text-muted">
          <strong>I'm not saying you killed all the pets, but your filters sure made them disappear.</strong>
        </h4>
      </div>
    </div>
  </div>

  <!-- PAGING -->
  <div class="row text-center">
    <dir-pagination-controls></dir-pagination-controls>
  </div>


</section>
