<div class="clearfix tile-details" data-ng-class="vm.getPetTile(pet)" tabindex="0">

  <!-- HEADER -->
  <div class="row">
    <div class="text-center tile-header" title="{{pet.creatureName}}">{{pet.creatureName}}</div>
  </div>

  <!-- BODY -->
  <div class="row">
    <div class="col-xs-12">

      <!-- PET ICON -->
      <div class="col-sm-3 tile-body tile-body-left text-center">
        <a href="{{vm.urls.wowHeadNpc + pet.creatureId}}" target="_blank" title="view on wowhead.com"
           data-ng-click="$event.stopPropagation();">
          <img class="icon-{{pet.theme}}" data-ng-src="{{vm.urls.battleIcons + pet.icon}}.jpg">
        </a>
      </div>

      <div class="col-sm-9 tile-body">

        <!-- PET STATS -->
        <div class="col-sm-5 text-center">
          <div>
            <span><img class="battle-icon" src="images/PetBattle_Health.png"></span>
            <span data-ng-bind="pet.stats.health"></span>
          </div>
          <div>
            <span><img class="battle-icon" src="images/PetBattle_Attack.png"></span>
            <span data-ng-bind="pet.stats.power"></span>
          </div>
          <div>
            <span><img class="battle-icon" src="images/PetBattle_Speed.png"></span>
            <span data-ng-bind="pet.stats.speed"></span>
          </div>
        </div>

        <div class="col-sm-7 text-center">

          <!-- LEVEL / BREED -->
          <div class="level-container">
            <div class="level-label">level</div>
            <div class="level-number">
              <strong class="text-{{pet.theme}}" data-ng-bind="pet.stats.level"></strong>
              <span class="text-{{pet.theme}}" data-ng-bind="vm.breeds[pet.stats.breedId].letters"></span>
            </div>
          </div>

          <!-- BACKGROUND FAMILY IMAGE -->
          <div class="family">
            <img data-ng-src="images/Pet_type_{{pet.family}}.png">
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="row">
    <div class="text-center tile-footer">
      <span data-ng-if="pet.name !== pet.creatureName">"{{pet.name}}"</span>
    </div>
  </div>

</div>
