<!--<md-content layout-padding>-->
<!--<div layout="row">-->

<!--<md-autocomplete md-selected-item="vm.realm" md-search-text="searchText"-->
<!--md-items="realm in vm.getRealms(searchText)" md-item-text="realm.name"-->
<!--md-floating-label="Select a Realm" flex>-->
<!--<span md-highlight-text="searchText">{{realm.name}}</span>-->
<!--</md-autocomplete>-->

<!--<div flex="5"></div>-->

<!--<md-input-container>-->
<!--<label>Name</label>-->
<!--<input type="text" data-ng-model="vm.character">-->
<!--</md-input-container>-->

<!--<div flex="5"></div>-->

<!--<md-input-container layout-align="start">-->
<!--<md-button class="md-raised md-primary" data-ng-click="vm.getCharacter()">Search</md-button>-->
<!--</md-input-container>-->

<!--</div>-->
<!--</md-content>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <form class="navbar-form" role="search">
      <div class="form-group">
        <select class="form-control" data-ng-model="vm.realm"
                data-ng-options="realm.slug as realm.name for realm in vm.data.realms"
                placeholder="character realm"></select>
        <input class="form-control" data-ng-model="vm.character" placeholder="character name">
      </div>
      <button class="btn btn-primary" data-ng-click="vm.getCharacter()">Search</button>
    </form>
  </div>
</nav>
