<div class="row">
  <div class="col-sm-4" dir-paginate="pet in vm.pets | itemsPerPage: vm.pageSize | orderBy:'creatureName'">
    <div class="col-sm-12" data-ng-bind="pet.creatureName"></div>
    <div class="col-sm-6">
      <a>
        <img data-ng-src="http://wow.zamimg.com/images/wow/icons/medium/{{pet.icon}}.jpg">
      </a>
    </div>
    <div class="col-sm-6">
      <div>{{vm.breeds[pet.stats.breedId].letters}}</div>
      <div>{{pet.stats.health}}</div>
      <div>{{pet.stats.power}}</div>
      <div>{{pet.stats.speed}}</div>
    </div>
  </div>
</div>

<div class="row text-center">
  <dir-pagination-controls></dir-pagination-controls>
</div>



